* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  height: 100px;
  width: 100%;
  background-color: aqua;
  display: flex;
  position: sticky;
  top: 0;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

nav h1 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: xx-large;
}

nav>button {
  position: absolute;
  right: 10px;
  height: 30px;
  width: 100px;
  background-color: lightcoral;
  border-radius: 15px;


}

nav>a {
  position: absolute;
  left: 10px;
  height: 30px;
  width: 80px;
}

nav>a>button {

  height: 30px;
  width: 80px;
}

.productsDispO {
  display: flex;

  flex-wrap: wrap;
  justify-content: space-around;
  margin: 10px;
  row-gap: 10px;

}

.productsDispIn {
  height: 370px;
  width: 300px;
  border: 2px groove black;
  align-items: center;
  justify-content: center;
  text-align: center;
  display: grid;
  grid-template-rows: 75% 15% 10%;
  margin: 5px;
  padding: 15px;
}

.dashdiv {
  background-image: linear-gradient(white, yellow, green);
}

.logindiv {
  background-image: linear-gradient(skyblue, yellow, green);
  height: 650px;

}

.logindiv button {
  height: 50px;
  width: 150px;
  position: relative;
  top: 300px;
  left: 32%;
  border: 10px groove black;
  border-radius: 7px;
  background-color: yellow;

  font-size: larger;
}

.logindiv .lginbtn {
  left: 40%;
  height: 60px;
  width: 200px;
  border: 10px groove black;
  border-radius: 10px;
  background-color: chartreuse;
  font-size: larger;
}

.crthomediv button {
  height: 50px;
  width: 150px;
  position: relative;
  top: 300px;
  left: 30px;
  border: 5px groove black;
  border-radius: 5px;
  background-color: white;
  font-size: larger;
  margin: 10px;
}

.crthomediv {
  background-image: linear-gradient(skyblue, yellow, green);
  height: 650px;
}

.chartdiv {
  background-image: linear-gradient(white, yellow, red);
  height: 650px;
}

.chartdiv button {
  position: relative;
  left: 20px;
  top: 20px;
  height: 40px;
  width: 100px;
  background-color: lightsalmon;
  color: black;
  font-size: small;
}

.chartdiv h1 {
  position: relative;
  top: 30px;
  left: 43%;
  text-decoration: underline;
}

.chartdiv .chart {
  position: relative;
  left: 30%;
  top: 80px;
}